<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/tb/static/css/index.css">
    <link rel="stylesheet" href="/tb/lib/layui/css/layui.css" />
    <link rel="stylesheet" href="/tb/lib/jquery/zTreeStyle.css">
</head>
<body>
<div id="main">

</div>

</body>
<script src="/tb/lib/layui/layui.js"></script>
<script src="/tb/lib/jquery/jquery-2.1.4.js"></script>
<script src="/tb/lib/jquery/jquery.ztree.core.min.js"></script>
<script src="/tb/lib/jquery/jquery.ztree.excheck.min.js"></script>
<script src="/tb/static/js/role.js"></script>
</html>