<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <link rel="stylesheet" href="/tb/static/css/index.css">
    <link rel="stylesheet" href="/tb/static/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/tb/lib/layui/css/layui.css"/>
</head>
<body>
<div th:include="view/top :: common_header(~{},~{},~{})"></div>
<div class="container" id="main">
    <div class="row">
        <div class="col-md-1 col-sm-0">1</div>
        <div class="col-md-7 col-sm-10">
            <div id="data" class="bg-fff">
                <h1 class="h3" align="center" th:text="${note.noteTitle}">标题</h1>
                <div th:utext="${note.noteDesc}"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-2">
            <div id="show" class="bg-fff"></div>
        </div>
        <div class="col-md-1 col-sm-0">1</div>
    </div>
</div>
</body>
</html>