<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/tb/static/css/index.css">
    <link rel="stylesheet" href="/tb/static/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/tb/lib/layui/css/layui.css" />
</head>
<body>
<!--<header class="header"></header>-->
<div th:include="view/top :: common_header(~{},~{},~{})"></div>
<div class="container" id="main">
    <div class="row">
        <div class="col-md-1 col-sm-0" ></div>
        <div class="col-md-7 col-sm-8" >
            <div id="left" >
                <div id="title" >
                    1
                </div>

                <div id="content" >
                    <hr style="height:1px; border:none;border-bottom: 1px dotted #E4E6EB;background: #fff;" />
                    <div id="template1">

                    </div>
                    <div id="page1" style="float: right;">

                    </div>
                </div>
                <div id="wirte">
                    <div><span style="font-weight: bold;">发表新帖</span></div><br />
                    <form class="form-horizontal" role="form" id="myform">
                        <input  type="text" name="noteTitle" class="form-control" id="noteTitle" />
                        <br />
                        <textarea id="noteDesc" style="display: none;background: #fff;" name="noteDesc"></textarea>
                        <br />
                        <div style="float: right;">
                            <input type="checkbox">匿名
                            <button type="button" class="btn btn-default" style="color: blue" id="publish">发表</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4" >
            <div id="right" >
                <div id="info">
                    2
                </div>
                <div id="other">
                    2
                </div>

            </div>
        </div>
        <div class="col-md-1 col-sm-0"></div>
    </div>
</div>
</body>
<!--<script type="text/javascript" src="/tb/static/js/base.js"></script>-->
<!--<script type="text/javascript" src="/tb/lib/layui/layui.js"></script>-->
<!--<script type="text/javascript" src="/tb/static/js/page.js"></script>-->
<!--<script type="text/javascript" src="/tb/static/js/index.js"></script>-->
<!--<script type="text/javascript" src="/tb/static/js/template-web.js"></script>-->
<script src="/tb/static/js/require.js" data-main="/tb/static/js/main"></script>


<script id="data-template" type="text/x-handlebars-template">
    {{#note}}
    <div class="noteTitle">
      <a href='/tb/note/get?id={{note.pkNoteId}}' class="noteTitle"> {{note.noteTitle}} </a>
    </div>
    <div class="noteDesc">
        {{note.noteDescShort}}
    </div>
    <hr style="height:1px; border:none;border-bottom: 1px dotted #E4E6EB;background: #fff;" />
    {{/note}}
</script>
<script>
    function login() {
        window.location.href="/tb/login";
    }
</script>
</html>
