<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_header(title,links,styles)">
<div >
    <canvas id="canvas" style="position:fixed;z-index:-2;height:auto;width: 100%; "></canvas>
</div>

<div id="header" class="container bg-fff">
    <div class="row">
        <div class="col-md-1 col-sm-0"></div>
        <div class="col-md-8 col-sm-10">
            <nav class="navbar navbar-default bg-fff" role="navigation">
                <div class="container-fluid">
                    <div>
                        <ul class="nav navbar-nav">
                            <li>
                                <div class="navbar-header">
                                    <a id="logo" class="navbar-brand" href="#">Logo</a>
                                </div>
                            </li>
                            <li>
                                <a href="#"><b>首页</b></a>
                            </li>
                            <li>
                                <a href="#">广场</a>
                            </li>
                            <li>
                                <a href="#wirte">发贴</a>
                            </li>
                            <li>
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search" size="32">
                                    </div>
                                    <button type="button" class="btn btn-default" id="search">寻找</button>
                                </form>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        <div class="col-md-2 col-sm-2">
                <ul class="nav navbar-nav" th:if="${#lists.isEmpty(session.user)}">
                    <li class="top_li"><span id="registerBtn">[&nbsp;&nbsp;注册&nbsp;&nbsp;]</span></li>
                    <li class="top_li"><span id="loginBtn" onclick="window.location.href='/tb/login'">[&nbsp;&nbsp;登录&nbsp;&nbsp;]</span></li>
                </ul>
                <ul class="nav navbar-nav" th:if="${not #lists.isEmpty(session.user)}">
                    <li class="top_li"><span >[&nbsp;&nbsp;欢迎：&nbsp;&nbsp;]</span></li>
                    <li class="top_li" id="user_parent">
                        <span th:text="'[&nbsp;&nbsp;'+${session.user.userName}+'&nbsp;&nbsp;]'"></span>
                        <dl id="user_child">
                            <dd>
                                <a href="/admin/">个人管理</a>
                            </dd>
                            <dd>
                                <a href="/logout">安全退出</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </c:if>
        </div>
        <div class="col-md-1 col-sm-0"></div>
    </div>
</div>

<script>
    function login() {
        window.location.href="/login";
    }
</script>
</div>
</html>