<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gg3083.tb.mapper.NoteMapper" >

    <select id="search" resultType="cn.gg3083.tb.domain.Note">
        SELECT * from note
        where is_delete=1
        <if test="searchKey!=null and searchKey !=''">
          and note_title like concat ('%','#{searchKey}','%')
        </if>
        order by create_time desc
    </select>

    <select id="get" resultType="cn.gg3083.tb.domain.Note">
        SELECT * from note where is_delete = 1
        and pk_note_id = #{ id }
    </select>

</mapper>