* {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
	/*background-color: #eee;*/
	/*overflow: hidden;*/
}
.container{
	padding: 0;
	margin: 0;
}
.container-fluid{
	background: #fff;
}
canvas {
	background-color: #eee;
	display: block;
	margin: 0 auto;
}

.bg-fff {
	background: #fff;
}

#logo {
	color: #048F74;
	font-size: 28px;
}
#search{
	background: #048F74;
}
.btn-default {
	background: #0084ff;
	color: #fff;
	border: #0084ff;
}

.btn-default:hover {
	background: #0077e6;
	color: #fff;
}

.navbar {
	border: 0px;
	margin-bottom: 0px;
}

.top_li {
	position: relative;
	top: 8px;
	cursor: pointer;
}
.container{
	width: 100%;
}
#main{
	margin-top: 51px;
}
#left{
	margin-top: 15px;
	font-size: 15px;
}
#title{
	background: #fff;
	height: 50px;
}
#content{
	background: #fff;
	margin-top: 15px;
	height: 740px;
	padding: 5px 15px;
}
#right{
	margin-top: 15px;
}
#info{
	height: 130px;
	background: #FFFFFF;
}
#other{
	background: #FFFFFF;
	margin-top: 15px;
}
#wirte{
	border: 1px solid #000;
	margin-top: 15px;
	padding: 10px;
}
#header{
	position:fixed;
	top: 0px;
	z-index:100;
}
.noteTitle{
	color: #f74d4a!important;
}
.noteDesc{
	margin-top: 10px;
	font-size: 14px;
}
#user_child{
	display: none;
}